#Home {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 70px;
}

.home-category {
  width: 100%;
  background: #fff;
  padding: 3px 0px 5px 0px;
}



.category-wrapper {
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  #Home {
  padding-top: 65px;
}
}
@media (max-width: 450px) {
  #Home {
  padding-top: 60px;
}
}

